.form{
    padding:20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputDiv{
    display: flex;
    gap: 20px;
}
.inputDiv>label{
    min-width:100px
}
.project{
   margin:10px;
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.project>input{
    width : 50%
}
.project>button{
    /* width: 70%; */
    /* margin: auto; */
}
.project>.description{
    display: flex;
    flex-direction: column;
    
}